In [1]:
import pandas as pd

In [2]:
import datetime as dt

Andhra df EDA

In [141]:
Apsrtc_bus_details = pd.read_csv(r"C:\Users\shank\Desktop\redbus\apsrtc_bus_details.csv")
Apsrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,APSRTC - 35271,INDRA(A.C. Seater),16:00,21:50,3.1\n78,05h 50m,INR 567,33 Seats available,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
1,APSRTC - 3585,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:30,22:25,4.4\n98,05h 55m,INR 720,33 Seats available,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
2,APSRTC - 35133,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),17:00,22:50,3.5\n80,05h 50m,INR 720,28 Seats available,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
3,APSRTC - 35135,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),17:45,23:37,4.3\n81,05h 52m,INR 720,34 Seats available,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
4,APSRTC - 35085,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),18:30,00:30,3.9\n71,06h 00m,INR 720,46 Seats available,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
...,...,...,...,...,...,...,...,...,...,...
3998,Sudheer Travels,NON A/C Sleeper (2+1),21:50,05:30,3.9\n21,07h 40m,INR 940,20 Seats available,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
3999,SRS Travels,Volvo Multi-Axle A/C Semi Sleeper (2+2),16:15,22:05,2.8\n109,05h 50m,740,13 Seats available,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4000,SLC Road Lines,A/C Sleeper (2+1),23:59,06:40,3.6\n12,06h 41m,INR 1750,1 Seat available,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4001,KSM Roadways,Bharat Benz A/C Sleeper (2+1),23:55,05:30,4.7,05h 35m,INR 1899,36 Seats available,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4002,Bmcc Travels,NON A/C Sleeper (2+1),23:59,05:30,3.0,05h 31m,INR 805,22 Seats available,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...

In [142]:
Apsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4003 entries, 0 to 4002
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4003 non-null   object
 1   Bus_type         4003 non-null   object
 2   Departure_time   4003 non-null   object
 3   Arrival_time     4003 non-null   object
 4   Ratings          4003 non-null   object
 5   Duration         4003 non-null   object
 6   Price            4003 non-null   object
 7   Seats_available  4003 non-null   object
 8   Route_name       4003 non-null   object
 9   Route_link       4003 non-null   object
dtypes: object(10)
memory usage: 312.9+ KB

In [143]:
# Remove INR from Price and convert to integer using lambda
Apsrtc_bus_details['Price'] = Apsrtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
Apsrtc_bus_details['Ratings'] = Apsrtc_bus_details['Ratings'].replace('New', '0')
Apsrtc_bus_details['Ratings'] = Apsrtc_bus_details['Ratings'].replace(' ', '0')

Apsrtc_bus_details['Ratings'] = Apsrtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
Apsrtc_bus_details['Seats_available'] = Apsrtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [144]:
Apsrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,APSRTC - 35271,INDRA(A.C. Seater),16:00,21:50,3.1,05h 50m,567,33,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
1,APSRTC - 3585,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:30,22:25,4.4,05h 55m,720,33,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
2,APSRTC - 35133,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),17:00,22:50,3.5,05h 50m,720,28,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
3,APSRTC - 35135,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),17:45,23:37,4.3,05h 52m,720,34,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
4,APSRTC - 35085,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),18:30,00:30,3.9,06h 00m,720,46,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
...,...,...,...,...,...,...,...,...,...,...
3998,Sudheer Travels,NON A/C Sleeper (2+1),21:50,05:30,3.9,07h 40m,940,20,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
3999,SRS Travels,Volvo Multi-Axle A/C Semi Sleeper (2+2),16:15,22:05,2.8,05h 50m,740,13,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4000,SLC Road Lines,A/C Sleeper (2+1),23:59,06:40,3.6,06h 41m,1750,1,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4001,KSM Roadways,Bharat Benz A/C Sleeper (2+1),23:55,05:30,4.7,05h 35m,1899,36,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...
4002,Bmcc Travels,NON A/C Sleeper (2+1),23:59,05:30,3.0,05h 31m,805,22,Anantapur (andhra pradesh) to Hyderabad,https://www.redbus.in/bus-tickets/ananthapur-t...

In [145]:
print(Apsrtc_bus_details.dtypes)

Bus_name            object
Bus_type            object
Departure_time      object
Arrival_time        object
Ratings            float64
Duration            object
Price                int64
Seats_available      int64
Route_name          object
Route_link          object
dtype: object

Kerala EDA

In [147]:
keralartc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\keralartc_bus_details.csv")
keralartc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:15,3.8\n20,08h 20m,INR 740,3 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,22:50,4.2\n69,08h 35m,INR 945,28 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,4.3\n9,09h 01m,INR 801,13 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,22:20,2.2\n36,06h 55m,INR 1099,30 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,KSRTC (Kerala) - 97,Swift Deluxe Non AC Air Bus (2+2),16:02,00:50,2.8\n18,08h 48m,INR 740,3 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
701,Cochin Express,Bharat Benz A/C Seater (2+2),22:25,23:59,4.0,01h 34m,INR 600,34 Seats available,Kalpetta (kerala) to Kozhikode,https://www.redbus.in/bus-tickets/kalpetta-to-...
702,Sonia Travels,A/C Semi Sleeper (2+2),21:30,23:40,3.8,02h 10m,INR 300,36 Seats available,Kalpetta (kerala) to Kozhikode,https://www.redbus.in/bus-tickets/kalpetta-to-...
703,Sonia Travels,A/C Seater/Sleeper (2+1),21:30,23:29,3.8,01h 59m,INR 750,40 Seats available,Kalpetta (kerala) to Kozhikode,https://www.redbus.in/bus-tickets/kalpetta-to-...
704,Sonia Travels,A/C Seater/Sleeper (2+1),19:30,23:29,3.8,03h 59m,INR 750,40 Seats available,Kalpetta (kerala) to Kozhikode,https://www.redbus.in/bus-tickets/kalpetta-to-...
705,Sonia Travels,A/C Semi Sleeper (2+2),20:45,23:40,3.8,02h 55m,INR 300,36 Seats available,Kalpetta (kerala) to Kozhikode,https://www.redbus.in/bus-tickets/kalpetta-to-...

In [77]:
keralartc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         706 non-null    object
 1   Bus_type         706 non-null    object
 2   Departure_time   706 non-null    object
 3   Arrival_time     706 non-null    object
 4   Ratings          706 non-null    object
 5   Duration         706 non-null    object
 6   Price            706 non-null    object
 7   Seats_available  706 non-null    object
 8   Route_name       706 non-null    object
 9   Route_link       706 non-null    object
dtypes: object(10)
memory usage: 55.3+ KB

In [148]:
# Remove INR from Price and convert to integer using lambda
keralartc_bus_details['Price'] = keralartc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
keralartc_bus_details['Ratings'] = keralartc_bus_details['Ratings'].replace('New', '0')
keralartc_bus_details['Ratings'] = keralartc_bus_details['Ratings'].replace(' ', '0')

keralartc_bus_details['Ratings'] = keralartc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
keralartc_bus_details['Seats_available'] = keralartc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [ ]:
#time convertion
keralartc_bus_details['Departure_time'] = keralartc_bus_details['Departure_time'].astype(str).str.strip()
keralartc_bus_details['Arrival_time'] = keralartc_bus_details['Arrival_time'].astype(str).str.strip()

# Convert to datetime objects first
keralartc_bus_details['Departure_time'] = pd.to_datetime(keralartc_bus_details['Departure_time'], format='%H:%M', errors='coerce').dt.time
keralartc_bus_details['Arrival_time'] = pd.to_datetime(keralartc_bus_details['Arrival_time'], format='%H:%M', errors='coerce').dt.time

In [149]:
keralartc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         706 non-null    object
 1   Bus_type         706 non-null    object
 2   Departure_time   706 non-null    object
 3   Arrival_time     706 non-null    object
 4   Ratings          706 non-null    float64
 5   Duration         706 non-null    object
 6   Price            706 non-null    int64
 7   Seats_available  706 non-null    int64
 8   Route_name       706 non-null    object
 9   Route_link       706 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 55.3+ KB

Telengana EDA

In [150]:
tsrtc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\tsrtc_bus_details.csv")
tsrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,TSRTC - 8918,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",12:30,16:50,3.5\n19,04h 20m,INR 320,31 Seats available,Khammam to Hyderabad,https://www.redbus.in/bus-tickets/khammam-to-h...
1,TSRTC - 8681,RAJADHANI AC (CONVERTED METRO LUXURY),13:00,17:00,2.9\n27,04h 00m,INR 389,29 Seats available,Khammam to Hyderabad,https://www.redbus.in/bus-tickets/khammam-to-h...
2,TSRTC - 8617,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:20,17:30,4.9\n18,04h 10m,INR 320,28 Seats available,Khammam to Hyderabad,https://www.redbus.in/bus-tickets/khammam-to-h...
3,TSRTC - 8736,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:30,17:50,2.3\n4,04h 20m,INR 320,31 Seats available,Khammam to Hyderabad,https://www.redbus.in/bus-tickets/khammam-to-h...
4,TSRTC - 8977,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:50,17:45,4.6\n12,03h 55m,INR 320,31 Seats available,Khammam to Hyderabad,https://www.redbus.in/bus-tickets/khammam-to-h...
...,...,...,...,...,...,...,...,...,...,...
1928,Mozo travels,A/C Sleeper (2+1),18:20,07:00,3.9,12h 40m,INR 999,24 Seats available,Hyderabad to Tirupati,https://www.redbus.in/bus-tickets/hyderabad-to...
1929,SREE LEKYAA TRAVELS,NON A/C Sleeper (2+1),21:40,08:45,3.9,11h 05m,INR 1000,2 Seats available,Hyderabad to Tirupati,https://www.redbus.in/bus-tickets/hyderabad-to...
1930,RK Travels,Non A/C Seater / Sleeper (2+1),21:00,09:30,3.5,0-12h 0-30m,INR 5000,36 Seats available,Hyderabad to Tirupati,https://www.redbus.in/bus-tickets/hyderabad-to...
1931,GOWTHAMI TOURS AND TRAVELS,A/C Sleeper (2+1),22:00,09:00,3.2,11h 00m,1234,26 Seats available,Hyderabad to Tirupati,https://www.redbus.in/bus-tickets/hyderabad-to...
1932,GOWTHAMI TOURS AND TRAVELS,A/C Sleeper (2+1),22:00,09:00,3.2,11h 00m,1377,23 Seats available,Hyderabad to Tirupati,https://www.redbus.in/bus-tickets/hyderabad-to...

In [151]:
tsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1933 non-null   object
 1   Bus_type         1933 non-null   object
 2   Departure_time   1933 non-null   object
 3   Arrival_time     1933 non-null   object
 4   Ratings          1933 non-null   object
 5   Duration         1933 non-null   object
 6   Price            1933 non-null   object
 7   Seats_available  1933 non-null   object
 8   Route_name       1933 non-null   object
 9   Route_link       1933 non-null   object
dtypes: object(10)
memory usage: 151.1+ KB

In [152]:
# Remove INR from Price and convert to integer using lambda
tsrtc_bus_details['Price'] = tsrtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
tsrtc_bus_details['Ratings'] = tsrtc_bus_details['Ratings'].replace('New', '0')
tsrtc_bus_details['Ratings'] = tsrtc_bus_details['Ratings'].replace(' ', '0')

tsrtc_bus_details['Ratings'] = tsrtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
tsrtc_bus_details['Seats_available'] = tsrtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [153]:
tsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1933 non-null   object
 1   Bus_type         1933 non-null   object
 2   Departure_time   1933 non-null   object
 3   Arrival_time     1933 non-null   object
 4   Ratings          1933 non-null   float64
 5   Duration         1933 non-null   object
 6   Price            1933 non-null   int64
 7   Seats_available  1933 non-null   int64
 8   Route_name       1933 non-null   object
 9   Route_link       1933 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 151.1+ KB

HRTC EDA

In [154]:
hrtc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\hrtc_bus_details.csv")
hrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,HRTC - 551,A/C Executive (2+3),15:30,01:30,3.5\n10,10h 00m,INR 622,42 Seats available,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
1,HRTC - 525,Ordinary 3+2 Non AC Seater,16:50,03:00,4.2,10h 10m,INR 512,19 Seats available,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
2,HRTC - 538,Ordinary 3+2 Non AC Seater,18:31,05:30,4.0\n5,10h 59m,INR 507,31 Seats available,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
3,HRTC - 93,Himsuta AC Seater Volvo/Scania 2+2,19:35,04:45,3.8\n39,09h 10m,INR 892,15 Seats available,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
4,HRTC - 301,Ordinary 3+2 Non AC Seater,19:43,05:30,4.2,09h 47m,INR 507,27 Seats available,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
...,...,...,...,...,...,...,...,...,...,...
1088,Bharmani Travels,Volvo A/C Semi Sleeper (2+2),22:00,06:30,3.9\n10,08h 30m,698,28 Seats available,Kangra to Delhi,https://www.redbus.in/bus-tickets/kangra-to-delhi
1089,Northern Travels,Volvo A/C Semi Sleeper (2+2),19:45,05:15,2.5\n40,09h 30m,INR 600,12 Seats available,Kangra to Delhi,https://www.redbus.in/bus-tickets/kangra-to-delhi
1090,Triptara tour & Travel,Scania Multi-Axle AC Semi Sleeper (2+2),21:28,06:55,4.5\n18,09h 27m,INR 550,21 Seats available,Kangra to Delhi,https://www.redbus.in/bus-tickets/kangra-to-delhi
1091,FlixBus,A/C Seater (2+2),18:40,05:20,4.7\n12,10h 40m,INR 485,35 Seats available,Kangra to Delhi,https://www.redbus.in/bus-tickets/kangra-to-delhi
1092,City Land Travels,Volvo A/C Semi Sleeper (2+2),19:40,05:10,3.9\n22,09h 30m,630,34 Seats available,Kangra to Delhi,https://www.redbus.in/bus-tickets/kangra-to-delhi

In [155]:
hrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093 entries, 0 to 1092
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1057 non-null   object
 1   Bus_type         1057 non-null   object
 2   Departure_time   1057 non-null   object
 3   Arrival_time     1057 non-null   object
 4   Ratings          1057 non-null   object
 5   Duration         1057 non-null   object
 6   Price            1057 non-null   object
 7   Seats_available  1057 non-null   object
 8   Route_name       1093 non-null   object
 9   Route_link       1093 non-null   object
dtypes: object(10)
memory usage: 85.5+ KB

In [156]:
hrtc_bus_details.dropna(inplace = True)
hrtc_bus_details.reset_index(drop=True, inplace=True)
hrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057 entries, 0 to 1056
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1057 non-null   object
 1   Bus_type         1057 non-null   object
 2   Departure_time   1057 non-null   object
 3   Arrival_time     1057 non-null   object
 4   Ratings          1057 non-null   object
 5   Duration         1057 non-null   object
 6   Price            1057 non-null   object
 7   Seats_available  1057 non-null   object
 8   Route_name       1057 non-null   object
 9   Route_link       1057 non-null   object
dtypes: object(10)
memory usage: 82.7+ KB

In [157]:
# Remove INR from Price and convert to integer using lambda
hrtc_bus_details['Price'] = hrtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
hrtc_bus_details['Ratings'] = hrtc_bus_details['Ratings'].replace('New', '0')
hrtc_bus_details['Ratings'] = hrtc_bus_details['Ratings'].replace(' ', '0')

hrtc_bus_details['Ratings'] = hrtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
hrtc_bus_details['Seats_available'] = hrtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [158]:
hrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057 entries, 0 to 1056
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1057 non-null   object
 1   Bus_type         1057 non-null   object
 2   Departure_time   1057 non-null   object
 3   Arrival_time     1057 non-null   object
 4   Ratings          1057 non-null   float64
 5   Duration         1057 non-null   object
 6   Price            1057 non-null   int64
 7   Seats_available  1057 non-null   int64
 8   Route_name       1057 non-null   object
 9   Route_link       1057 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 82.7+ KB

RSRTC EDA

In [159]:
rsrtc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\rsrtc_bus_details.csv")
rsrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,RSRTC - 146140,Super Luxury Volvo AC Seater Pushback 2+2,14:46,18:48,4.2\n61,04h 02m,INR 460,16 Seats available,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...
1,RSRTC - 169078,NON AC Seater / Sleeper 2+1,15:00,19:30,4.5\n4,04h 30m,INR 302,37 Seats available,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...
2,RSRTC - 178737,Express Non AC Seater 2+3,15:30,20:05,4.2,04h 35m,INR 229,42 Seats available,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...
3,RSRTC - 190572,Express Non AC Seater 2+3,16:15,21:00,4.2,04h 45m,INR 229,42 Seats available,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...
4,RSRTC - 175650,Super Luxury Volvo AC Seater Pushback 2+2,16:30,20:30,4.0\n62,04h 00m,INR 460,35 Seats available,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...
...,...,...,...,...,...,...,...,...,...,...
898,Royal Travels,A/C Seater / Sleeper (2+1),21:30,01:45,2.3,04h 15m,INR 400,42 Seats available,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...
899,Amar Travels(Jaipur),AC Sleeper (2+1),22:00,02:45,2.5,04h 45m,463,34 Seats available,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...
900,Sharma travels,A/C Seater / Sleeper (2+1),22:30,03:00,2.4,04h 30m,INR 429,34 Seats available,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...
901,Amar Travels(Jaipur),A/C Seater / Sleeper (2+1),22:45,03:30,2.5,04h 45m,370,44 Seats available,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...
902,M R Travels,Volvo Multi-Axle A/C seater/sleeper (2+1),15:15,18:15,3.8,03h 00m,INR 1200,60 Seats available,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...

In [160]:
rsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         903 non-null    object
 1   Bus_type         903 non-null    object
 2   Departure_time   903 non-null    object
 3   Arrival_time     903 non-null    object
 4   Ratings          903 non-null    object
 5   Duration         903 non-null    object
 6   Price            903 non-null    object
 7   Seats_available  903 non-null    object
 8   Route_name       903 non-null    object
 9   Route_link       903 non-null    object
dtypes: object(10)
memory usage: 70.7+ KB

In [161]:
# Remove INR from Price and convert to integer using lambda
rsrtc_bus_details['Price'] = rsrtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
rsrtc_bus_details['Ratings'] = rsrtc_bus_details['Ratings'].replace('New', '0')
rsrtc_bus_details['Ratings'] = rsrtc_bus_details['Ratings'].replace(' ', '0')

rsrtc_bus_details['Ratings'] = rsrtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
rsrtc_bus_details['Seats_available'] = rsrtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [162]:
rsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         903 non-null    object
 1   Bus_type         903 non-null    object
 2   Departure_time   903 non-null    object
 3   Arrival_time     903 non-null    object
 4   Ratings          903 non-null    float64
 5   Duration         903 non-null    object
 6   Price            903 non-null    int64
 7   Seats_available  903 non-null    int64
 8   Route_name       903 non-null    object
 9   Route_link       903 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 70.7+ KB

SBSTC EDA

In [163]:
sbstc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\sbstc_bus_details.csv")
sbstc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,SBSTC-BURDWAN - KARUNAMOYEE - 14:10 (BWN DEPOT...,Non AC Seater (2+3),14:10,16:40,4.4\n114,02h 30m,INR 100,39 Seats available,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...
1,SBSTC-BURDWAN - KOLKATA - 14:30 (BWN DEPOT) - 30,Non AC Seater (2+3),14:30,16:30,3.8\n50,02h 00m,INR 95,45 Seats available,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...
2,SBSTC-BURDWAN - KOLKATA - A/C - 15:00 (BWN DEP...,AC Seater (2+2),15:00,17:00,4.5\n8,02h 00m,INR 180,33 Seats available,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...
3,SBSTC-BURDWAN - KARUNAMOYEE - 15:10 (BWN DEPOT...,Non AC Seater (2+3),15:10,17:40,4.4\n131,02h 30m,INR 100,32 Seats available,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...
4,SBSTC-BURDWAN - KOLKATA - 15:25 (BWN DEPOT) - 33,Non AC Seater (2+3),15:25,17:25,3.6\n71,02h 00m,INR 95,51 Seats available,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...
...,...,...,...,...,...,...,...,...,...,...
501,SBSTC-KOLKATA - SURI - 14:30 - (Suri Depot) - 652,Non AC Seater (2+3),14:30,19:30,3.3\n20,05h 00m,INR 190,51 Seats available,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri
502,SBSTC-KOLKATA - SURI - 15:30 - (Suri Depot) - 655,Non AC Seater (2+3),15:30,20:30,4.3\n13,05h 00m,INR 190,51 Seats available,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri
503,SBSTC-KOLKATA - SURI - 16: 30 - (Suri Depot) -...,Non AC Seater (2+3),16:30,21:30,3.6\n10,05h 00m,INR 190,48 Seats available,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri
504,SBSTC-KOLKATA - SURI - 18:00 - (Suri Depot) - ...,Non AC Seater (2+3),18:00,23:00,2.8\n26,05h 00m,INR 190,52 Seats available,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri
505,WBTC (CTC) KOLKATA -BOLPUR - SURI (AC-VOLVO) -...,Volvo AC Seater (2+2),14:30,19:10,3.8\n211,04h 40m,INR 435,15 Seats available,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri

In [164]:
sbstc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         506 non-null    object
 1   Bus_type         506 non-null    object
 2   Departure_time   506 non-null    object
 3   Arrival_time     506 non-null    object
 4   Ratings          506 non-null    object
 5   Duration         506 non-null    object
 6   Price            506 non-null    object
 7   Seats_available  506 non-null    object
 8   Route_name       506 non-null    object
 9   Route_link       506 non-null    object
dtypes: object(10)
memory usage: 39.7+ KB

In [165]:
# Remove INR from Price and convert to integer using lambda
sbstc_bus_details['Price'] = sbstc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
sbstc_bus_details['Ratings'] = sbstc_bus_details['Ratings'].replace('New', '0')
sbstc_bus_details['Ratings'] = sbstc_bus_details['Ratings'].replace(' ', '0')

sbstc_bus_details['Ratings'] = sbstc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
sbstc_bus_details['Seats_available'] = sbstc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [166]:
sbstc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         506 non-null    object
 1   Bus_type         506 non-null    object
 2   Departure_time   506 non-null    object
 3   Arrival_time     506 non-null    object
 4   Ratings          506 non-null    float64
 5   Duration         506 non-null    object
 6   Price            506 non-null    int64
 7   Seats_available  506 non-null    int64
 8   Route_name       506 non-null    object
 9   Route_link       506 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 39.7+ KB

UPSRTC EDA

In [167]:
upsrtc_bus_details =pd.read_csv(r"C:\Users\shank\Desktop\redbus\upsrtc_bus_details.csv")
upsrtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,UPSRTC - RKD0089,Ordinary Non AC Seater 2+3,16:01,23:59,3.3,07h 58m,INR 476,52 Seats available,Bareilly to Delhi,https://www.redbus.in/bus-tickets/bareilly-to-...
1,UPSRTC - RKD0119,Shatabdi AC Seater 2+2,16:16,21:16,3.2\n12,05h 00m,INR 598,37 Seats available,Bareilly to Delhi,https://www.redbus.in/bus-tickets/bareilly-to-...
2,UPSRTC - RKD0130,Janrath AC Seater 2+3,17:31,22:31,2.0\n10,05h 00m,INR 520,44 Seats available,Bareilly to Delhi,https://www.redbus.in/bus-tickets/bareilly-to-...
3,UPSRTC - BLY0111,Janrath AC Seater 2+2,19:01,23:45,3.2\n4,04h 44m,INR 598,36 Seats available,Bareilly to Delhi,https://www.redbus.in/bus-tickets/bareilly-to-...
4,UPSRTC - HDD0063,Ordinary Non AC Seater 2+3,19:39,01:03,3.3,05h 24m,INR 415,52 Seats available,Bareilly to Delhi,https://www.redbus.in/bus-tickets/bareilly-to-...
...,...,...,...,...,...,...,...,...,...,...
971,MISHRA BANDHU BUS SERVICE,A/C Seater / Sleeper (2+1),21:30,03:30,2.4\n16,06h 00m,INR 1000,23 Seats available,Lucknow to Gorakhpur (uttar pradesh),https://www.redbus.in/bus-tickets/lucknow-to-g...
972,Samay Shatabdi Travels Pvt Ltd,NON A/C Sleeper (2+1),23:45,05:00,1.6\n19,05h 15m,INR 499,17 Seats available,Lucknow to Gorakhpur (uttar pradesh),https://www.redbus.in/bus-tickets/lucknow-to-g...
973,Maan Travels,NON AC Seater / Sleeper 2+1,23:55,04:00,1.6,04h 05m,INR 700,29 Seats available,Lucknow to Gorakhpur (uttar pradesh),https://www.redbus.in/bus-tickets/lucknow-to-g...
974,Maa Laxmi Bihar Express,Non A/C Seater / Sleeper (2+1),22:30,05:00,1.3,06h 30m,INR 1700,14 Seats available,Lucknow to Gorakhpur (uttar pradesh),https://www.redbus.in/bus-tickets/lucknow-to-g...
975,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+1),23:30,05:00,1.3,05h 30m,INR 1799,47 Seats available,Lucknow to Gorakhpur (uttar pradesh),https://www.redbus.in/bus-tickets/lucknow-to-g...

In [168]:
upsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         976 non-null    object
 1   Bus_type         976 non-null    object
 2   Departure_time   976 non-null    object
 3   Arrival_time     976 non-null    object
 4   Ratings          976 non-null    object
 5   Duration         976 non-null    object
 6   Price            976 non-null    object
 7   Seats_available  976 non-null    object
 8   Route_name       976 non-null    object
 9   Route_link       976 non-null    object
dtypes: object(10)
memory usage: 76.4+ KB

In [169]:
# Remove INR from Price and convert to integer using lambda
upsrtc_bus_details['Price'] = upsrtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
upsrtc_bus_details['Ratings'] = upsrtc_bus_details['Ratings'].replace('New', '0')
upsrtc_bus_details['Ratings'] = upsrtc_bus_details['Ratings'].replace(' ', '0')

upsrtc_bus_details['Ratings'] = upsrtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
upsrtc_bus_details['Seats_available'] = upsrtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [170]:
upsrtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         976 non-null    object
 1   Bus_type         976 non-null    object
 2   Departure_time   976 non-null    object
 3   Arrival_time     976 non-null    object
 4   Ratings          976 non-null    float64
 5   Duration         976 non-null    object
 6   Price            976 non-null    int64
 7   Seats_available  976 non-null    int64
 8   Route_name       976 non-null    object
 9   Route_link       976 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 76.4+ KB

WBTC EDA

In [171]:
wbtc_bus_details=pd.read_csv(r"C:\Users\shank\Desktop\redbus\wbtc_bus_details.csv")
wbtc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,SBSTC-DURGAPUR - KARUNAMOYEE - A/C - 15:10 (DG...,AC Seater (2+2),15:10,19:10,3.0\n163,04h 00m,INR 300,20 Seats available,Durgapur (West Bengal) to Kolkata,https://www.redbus.in/bus-tickets/durgapur-to-...
1,SBSTC-BANKURA - KARUNAMOYEE - 14:15 (BNK DEPOT...,Non AC Seater (2+3),16:00,20:00,3.7\n62,04h 00m,INR 155,35 Seats available,Durgapur (West Bengal) to Kolkata,https://www.redbus.in/bus-tickets/durgapur-to-...
2,SBSTC-ASANSOL - KOLKATA - 15:05 (HWH DEPOT) - 210,Non AC Seater (2+3),16:15,19:45,2.9\n40,03h 30m,INR 150,51 Seats available,Durgapur (West Bengal) to Kolkata,https://www.redbus.in/bus-tickets/durgapur-to-...
3,SBSTC-ASANSOL - KARUNAMOYEE - 15:10 (BEL DEPOT...,NaN,16:20,20:20,3.9,04h 00m,INR 155,33 Seats available,Durgapur (West Bengal) to Kolkata,https://www.redbus.in/bus-tickets/durgapur-to-...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Durgapur (West Bengal) to Kolkata,https://www.redbus.in/bus-tickets/durgapur-to-...
...,...,...,...,...,...,...,...,...,...,...
203,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),18:40,23:25,4.0\n57,04h 45m,INR 524,26 Seats available,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...
204,Royal Cruiser,Volvo A/C Seater (2+2),19:30,00:15,3.7\n71,04h 45m,523,29 Seats available,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...
205,Beauty Travels,NON A/C Seater / Sleeper (2+2),20:20,00:30,3.0,04h 10m,INR 380,36 Seats available,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...
206,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,00:30,,06h 00m,INR 500,54 Seats available,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...
207,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,02:00,2.6,04h 55m,760,21 Seats available,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...

In [172]:
wbtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         202 non-null    object
 1   Bus_type         201 non-null    object
 2   Departure_time   202 non-null    object
 3   Arrival_time     202 non-null    object
 4   Ratings          202 non-null    object
 5   Duration         202 non-null    object
 6   Price            202 non-null    object
 7   Seats_available  202 non-null    object
 8   Route_name       208 non-null    object
 9   Route_link       208 non-null    object
dtypes: object(10)
memory usage: 16.4+ KB

In [173]:
wbtc_bus_details.dropna(inplace = True)
wbtc_bus_details.reset_index(drop=True, inplace=True)
wbtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         201 non-null    object
 1   Bus_type         201 non-null    object
 2   Departure_time   201 non-null    object
 3   Arrival_time     201 non-null    object
 4   Ratings          201 non-null    object
 5   Duration         201 non-null    object
 6   Price            201 non-null    object
 7   Seats_available  201 non-null    object
 8   Route_name       201 non-null    object
 9   Route_link       201 non-null    object
dtypes: object(10)
memory usage: 15.8+ KB

In [174]:
# Remove INR from Price and convert to integer using lambda
wbtc_bus_details['Price'] = wbtc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
wbtc_bus_details['Ratings'] = wbtc_bus_details['Ratings'].replace('New', '0')
wbtc_bus_details['Ratings'] = wbtc_bus_details['Ratings'].replace(' ', '0')

wbtc_bus_details['Ratings'] = wbtc_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
wbtc_bus_details['Seats_available'] = wbtc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [175]:
wbtc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         201 non-null    object
 1   Bus_type         201 non-null    object
 2   Departure_time   201 non-null    object
 3   Arrival_time     201 non-null    object
 4   Ratings          201 non-null    float64
 5   Duration         201 non-null    object
 6   Price            201 non-null    int64
 7   Seats_available  201 non-null    int64
 8   Route_name       201 non-null    object
 9   Route_link       201 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 15.8+ KB

CTU EDA

In [3]:
ctu_bus_details = pd.read_csv(r"C:\Users\shank\Desktop\redbus\ctu_bus_details.csv")
ctu_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,Chandigarh Transport Undertaking (CTU) - 165697,HVAC Seater (2+3),14:00,19:35,4.1\n40,05h 35m,INR 404.76,42 Seats available,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
1,Chandigarh Transport Undertaking (CTU) - 165709,HVAC Seater (2+3),14:30,20:05,3.9\n31,05h 35m,INR 404.76,45 Seats available,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
2,Chandigarh Transport Undertaking (CTU) - 165720,HVAC Seater (2+3),15:30,21:05,4.1\n33,05h 35m,INR 404.76,44 Seats available,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
...,...,...,...,...,...,...,...,...,...,...
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baijnath to Chandigarh,https://www.redbus.in/bus-tickets/baijnath-to-...
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baijnath to Chandigarh,https://www.redbus.in/bus-tickets/baijnath-to-...
401,HRTC - 1514,Ordinary 3+2 Non AC Seater,16:00,21:45,3.9,05h 45m,INR 318,37 Seats available,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...
402,HRTC - 1285,Ordinary 3+2 Non AC Seater,18:40,00:00,3.9,05h 20m,INR 303,37 Seats available,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...
403,Asian's Shina Tour & Travels (Swoyambhu Manjus...,NON A/C Semi Sleeper (2+2),23:55,05:00,2.5,05h 05m,INR 999,29 Seats available,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...

In [4]:
ctu_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         200 non-null    object
 1   Bus_type         195 non-null    object
 2   Departure_time   200 non-null    object
 3   Arrival_time     200 non-null    object
 4   Ratings          200 non-null    object
 5   Duration         200 non-null    object
 6   Price            200 non-null    object
 7   Seats_available  197 non-null    object
 8   Route_name       404 non-null    object
 9   Route_link       404 non-null    object
dtypes: object(10)
memory usage: 31.7+ KB

In [6]:
ctu_bus_details.dropna(inplace = True)
ctu_bus_details.reset_index(drop=True, inplace=True)
ctu_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         195 non-null    object
 1   Bus_type         195 non-null    object
 2   Departure_time   195 non-null    object
 3   Arrival_time     195 non-null    object
 4   Ratings          195 non-null    object
 5   Duration         195 non-null    object
 6   Price            195 non-null    object
 7   Seats_available  195 non-null    object
 8   Route_name       195 non-null    object
 9   Route_link       195 non-null    object
dtypes: object(10)
memory usage: 15.4+ KB

In [7]:
# Remove INR from Price and convert to integer using lambda
ctu_bus_details['Price'] = ctu_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))

#Rating conversion
ctu_bus_details['Ratings'] = ctu_bus_details['Ratings'].replace('New', '0')
ctu_bus_details['Ratings'] = ctu_bus_details['Ratings'].replace(' ', '0')

ctu_bus_details['Ratings'] = ctu_bus_details['Ratings'].str.split('\n').str[0].astype(float)

# Extract numeric values from Seats_available using lambda
ctu_bus_details['Seats_available'] = ctu_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [10]:
ctu_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,Chandigarh Transport Undertaking (CTU) - 165697,HVAC Seater (2+3),14:00,19:35,4.1,05h 35m,404,42,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
1,Chandigarh Transport Undertaking (CTU) - 165709,HVAC Seater (2+3),14:30,20:05,3.9,05h 35m,404,45,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
2,Chandigarh Transport Undertaking (CTU) - 165720,HVAC Seater (2+3),15:30,21:05,4.1,05h 35m,404,44,Chandigarh to Delhi,https://www.redbus.in/bus-tickets/chandigarh-t...
3,HRTC - 562,Ordinary 3+2 Non AC Seater,15:15,21:10,3.9,05h 55m,285,37,Delhi to Chandigarh,https://www.redbus.in/bus-tickets/delhi-to-cha...
4,HRTC - 551,A/C Executive (2+3),15:30,21:25,4.1,05h 55m,375,42,Delhi to Chandigarh,https://www.redbus.in/bus-tickets/delhi-to-cha...
...,...,...,...,...,...,...,...,...,...,...
190,HRTC - 1104,Ordinary 3+2 Non AC Seater,14:55,00:20,3.9,09h 25m,488,37,Baijnath to Chandigarh,https://www.redbus.in/bus-tickets/baijnath-to-...
191,HRTC - 1107,Ordinary 3+2 Non AC Seater,15:00,23:20,3.9,08h 20m,492,31,Baijnath to Chandigarh,https://www.redbus.in/bus-tickets/baijnath-to-...
192,HRTC - 1514,Ordinary 3+2 Non AC Seater,16:00,21:45,3.9,05h 45m,318,37,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...
193,HRTC - 1285,Ordinary 3+2 Non AC Seater,18:40,00:00,3.9,05h 20m,303,37,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...
194,Asian's Shina Tour & Travels (Swoyambhu Manjus...,NON A/C Semi Sleeper (2+2),23:55,05:00,2.5,05h 05m,999,29,Chandigarh to Jawala Ji,https://www.redbus.in/bus-tickets/chandigarh-t...

ASTC EDA

In [157]:
astc_bus_details= pd.read_csv(r"C:\Users\shank\Desktop\scraping\astc_bus_details.csv")
astc_bus_details

,Bus_name,Bus_type,Departure_time,Arrival_time,Ratings,Duration,Price,Seats_available,Route_name,Route_link
0,Assam State Transport Corporation (ASTC) - 175396,Volvo AC Seater 2+2,06:15,10:30,4.0,04h 15m,INR 298,16 Seats available,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...
1,Assam State Transport Corporation (ASTC) - 158332,Bharat Benz A/C Seater (2+2),07:10,11:00,4.9\n12,03h 50m,INR 298,25 Seats available,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...
2,Assam State Transport Corporation (ASTC) - 173420,Bharat Benz A/C Seater (2+2),10:35,15:15,4.1\n32,04h 40m,INR 298,14 Seats available,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...
3,Assam State Transport Corporation (ASTC) - 154930,Volvo AC Seater 2+2,15:45,20:00,4.0\n9,04h 15m,INR 298,19 Seats available,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...
4,NEELKANTH TRAVELS,A/C Seater Push Back (2+2),05:15,08:30,4.4\n59,03h 15m,INR 300,26 Seats available,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...
...,...,...,...,...,...,...,...,...,...,...
171,NETWORK TRAVELS,NON A/C Seater Push Back (2+1),19:00,00:30,4.6\n25,05h 30m,300,33 Seats available,Tinsukia to Jorhat,https://www.redbus.in/bus-tickets/tinsukia-to-...
172,Aniruddha Travels,AC Seater (2+2),06:00,11:10,,05h 10m,INR 550,38 Seats available,Tinsukia to Jorhat,https://www.redbus.in/bus-tickets/tinsukia-to-...
173,Christina Travels,NON A/C Seater (2+2),07:00,11:15,2.7,04h 15m,650,30 Seats available,Tinsukia to Jorhat,https://www.redbus.in/bus-tickets/tinsukia-to-...
174,Maa Laxmi,NON A/C Seater Push Back (2+1),17:00,22:30,2.1\n5,05h 30m,INR 400,34 Seats available,Tinsukia to Jorhat,https://www.redbus.in/bus-tickets/tinsukia-to-...
175,Purple Wings Coaches,A/C Seater / Sleeper (2+1),18:30,00:15,2.7\n5,05h 45m,567,40 Seats available,Tinsukia to Jorhat,https://www.redbus.in/bus-tickets/tinsukia-to-...

In [158]:
astc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         176 non-null    object
 1   Bus_type         176 non-null    object
 2   Departure_time   176 non-null    object
 3   Arrival_time     176 non-null    object
 4   Ratings          176 non-null    object
 5   Duration         176 non-null    object
 6   Price            176 non-null    object
 7   Seats_available  176 non-null    object
 8   Route_name       176 non-null    object
 9   Route_link       176 non-null    object
dtypes: object(10)
memory usage: 13.9+ KB

In [160]:
astc_bus_details['Price'] = astc_bus_details['Price'].apply(lambda x: int(float(x.replace('INR ', '').replace(',', ''))))
astc_bus_details['Ratings'] = astc_bus_details['Ratings'].apply(lambda x: x.split('\n')[0])
astc_bus_details['Seats_available'] = astc_bus_details['Seats_available'].apply(lambda x: int(''.join(filter(str.isdigit, x))))

In [162]:
astc_bus_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         176 non-null    object
 1   Bus_type         176 non-null    object
 2   Departure_time   176 non-null    object
 3   Arrival_time     176 non-null    object
 4   Ratings          176 non-null    object
 5   Duration         176 non-null    object
 6   Price            176 non-null    int64
 7   Seats_available  176 non-null    int64
 8   Route_name       176 non-null    object
 9   Route_link       176 non-null    object
dtypes: int64(2), object(8)
memory usage: 13.9+ KB

Pushing data to sql

In [11]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\shank\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\shank\appdata\local\programs\python\python312\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shank\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shank\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
#pushing to sql database

from sqlalchemy import create_engine

# Create a MySQL database connection
engine = create_engine('mysql+pymysql://root:Shankii007@localhost/redbus')

In [ ]:
Apsrtc_bus_details.to_sql('apsrtc_bus_details', con=engine, if_exists='replace', index=False)
keralartc_bus_details.to_sql('keralartc_bus_details', con=engine, if_exists='replace', index=False)
tsrtc_bus_details.to_sql('tsrtc_bus_details', con=engine, if_exists='replace', index=False)
hrtc_bus_details.to_sql('hrtc_bus_details', con=engine, if_exists='replace', index=False)
rsrtc_bus_details.to_sql('rsrtc_bus_details', con=engine, if_exists='replace', index=False)
sbstc_bus_details.to_sql('sbstc_bus_details', con=engine, if_exists='replace', index=False)
upsrtc_bus_details.to_sql('upsrtc_bus_details', con=engine, if_exists='replace', index=False)
wbtc_bus_details.to_sql('wbtc_bus_details', con=engine, if_exists='replace', index=False)
#astc_bus_details.to_sql('astc_bus_details', con=engine, if_exists='replace', index=False)

In [16]:
ctu_bus_details.to_sql('ctu_bus_details', con=engine, if_exists='replace', index=False)

195